<!-- start:: Footer -->
<footer class="footer">
    <div class="inner">
        <h3>Urmărește OREO of the Day și pe Social Media și definește-ți stilul OREO</h3>
        <div class="social-media">
            <a target="_blank" href="https://web.facebook.com/OREORomania"><img src="{{ asset("images/logo-fb.png") }}" alt="logo" /></a>
            <a target="_blank" href="https://www.instagram.com/oreoromania"><img src="{{ asset("images/logo-insta.png") }}" alt="logo" /></a>
            <a target="_blank" href="https://www.youtube.com/@oreoromania1645"><img src="{{ asset("images/logo-insta.png") }}" alt="logo" /></a>
        </div>
        <div class="footer-wrapper">
            <a href="{{ path("regulament") }}">Regulament |</a>
            <a target="_blank" href="#">Politica de confidențialitate |</a>
            <a href="{{ path("cookies") }}">Politica de cookie-uri |</a>
            <a href="{{ path("terms") }}">Termeni și condiții de utilizare |</a>
            <a target="_blank" href="https://anpc.ro/">Protecția consumatorilor – ANPC |</a>
            <a target="_blank" href="#">Contact</a>
        </div>
        <div class="footer-rights">
            <p>© 2023 Mondelez România – Toate drepturile rezervate.</p>
        </div>
    </div>
</footer>

<!-- end:: Footer -->